<div class="w-75 mx-auto">
  <h1>Details</h1>
  <table class="table table-striped ">
    <tbody>
      <tr *ngFor="let item of book | keyvalue">
          <td class="col-1" *ngIf="item.key !== 'id'">{{item.key}}</td>
          <td *ngIf="item.key !== 'id'">{{item.value}}</td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/books']">
    <button type="button" class="btn btn-primary">Close</button>
  </a>
  <h3>Reviews</h3>
  <div *ngFor="let review of reviews">
    <bs-review-list [review]="review"></bs-review-list>
  </div>
  <h3>Create new Review</h3>
  <bs-review-create [bookId]="book!.id"></bs-review-create>
</div>
